body{
    font-family: Arial, sans-serif;
    text-align:center;
}

/* product boxes */
.product{
    display:inline-block;
    width:220px;
    border:2px solid #333;
    background-color:#f2f2f2;
    padding:15px;
    margin:12px;
    text-align:center;
    transition:0.3s;
    border-radius:10px;
}

/* hover outline */
.product:hover{
    outline:3px solid blue;
    outline-offset:6px;
}

/* image size */
.product img{
    width:120px;
    height:120px;
}

/* buy button */
.product a{
    display:inline-block;
    margin-top:8px;
    text-decoration:none;
    background:green;
    color:white;
    padding:6px 12px;
    border-radius:5px;
}

.product a:hover{
    background:darkgreen;
}
